alembic==1.14.0
batchtk==0.0.1rc0
bokeh==3.6.1
colorlog==6.9.0
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
find_libpython==0.4.0
fonttools==4.55.0
future==1.0.0
importlib_metadata==8.5.0
Jinja2==3.1.4
kiwisolver==1.4.7
LFPykit==0.5.1
lsh==0.3.0
Mako==1.3.8
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-scalebar==0.8.1
MEAutility==1.5.1
mpmath==1.3.0
netpyne==1.0.7
NEURON==8.2.6
NMODL @ file:///Users/stevenyeu/Work/neuron_mod_comparison/NMODL-0.6.98-cp310-cp310-macosx_14_0_arm64.whl
numpy==1.26.4
optuna==4.1.0
packaging==24.2
pandas==2.2.3
pillow==11.0.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
schema==0.7.7
scipy==1.14.1
six==1.16.0
SQLAlchemy==2.0.36
sympy==1.13.3
tornado==6.4.1
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.2
xyzservices==2024.9.0
zipp==3.21.0
